    header {
      text-align: center;
      background: url("http://orig13.deviantart.net/9fb1/f/2008/356/a/0/new_york_in_night_by_xcau93.png");
      background-size: cover;
      font-size:36px;
      color: white;
    }
    